<div class="container">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="mb-0">TODOリスト</h1>
    <%= link_to "タスク作成", new_task_path, class: "btn btn-primary" %>
  </div>
  <%= form_with url: tasks_path, method: :get, local: true, class: "mb-3 form-inline" do |f| %>
    <div class="input-group mr-2">
      <%= f.text_field :keyword, value: @keyword, placeholder: "キーワード検索", class: "form-control" %>
    </div>
    <div class="form-group mr-2">
      <%= f.select :status, options_for_select(Task.statuses.keys.map { |s| [I18n.t("enums.task.status.#{s}"), s] }, @status), { include_blank: "ステータス" }, class: "form-control" %>
    </div>
    <div class="form-group mr-2">
      <%= f.select :priority, options_for_select(Task.priorities.keys.map { |p| [I18n.t("enums.task.priority.#{p}"), p] }, @priority), { include_blank: "優先度" }, class: "form-control" %>
    </div>
    <div class="form-group mr-2">
      <%= f.select :sort, options_for_select([["作成日が新しい順", "recent"], ["期限が近い順", "due_date"], ["優先度が高い順", "priority"]], @sort), {}, class: "form-control" %>
    </div>
    <%= f.submit "検索", class: "btn btn-outline-primary" %>
  <% end %>
  <hr>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>タイトル</th>
        <th>内容</th>
        <th>ステータス</th>
        <th>優先度</th>
        <th>期限</th>
        <th>編集</th>
        <th>削除</th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each_with_index do |task, index| %>
        <tr class="task-row <%= 'table-danger' if task.overdue? %>">
          <td><%= index + 1 %></td>
          <td><%= link_to task.title, task_path(task, from: "index"), class: "font-weight-bold text-dark" %></td>
          <td><%= task.body %></td>
          <td><%= I18n.t("enums.task.status.#{task.status}") %></td>
          <td><%= I18n.t("enums.task.priority.#{task.priority}") %></td>
          <td><%= task.due_date&.strftime("%Y/%m/%d") || "未設定" %></td>
          <td><%= link_to "編集", edit_task_path(task), class: "btn btn-sm btn-primary" %></td>
          <td><%= link_to "削除", task_path(task), method: :delete, data: { confirm: "本当に削除しますか？"}, class: "btn btn-sm btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @tasks %>
</div>