<div class="container">
  <div class="profile-section">
    <h2>マイページ</h2>
    <div class="profile-box">
      <% if @user.profile_image.attached? %>
        <%= image_tag @user.profile_image, size: "100x100", class: "profile-image" %>
      <% else %>
        <%= image_tag "no_image.jpg", size: "100x100", class: "profile-image" %>
      <% end %>
      <div class="profile-info">
        <p><%= @user.name %></p>
        <p><%= @user.email %></p>
        <p><%= @user.created_at.strftime("%Y/%m/%d") %></p>
        <%= link_to "プロフィール編集", edit_user_path(@user), class: "btn btn-primary" %>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5>アカウント情報</h5>
        <p>作成タスク数: <%= @tasks_count %>件</p>
        <%= link_to "パスワード変更", edit_user_registration_path, class: "btn btn-outline-secondary" %>
      </div>
    </div>
  </div>
</div>
      