<!DOCTYPE html>
<html>
  <head>
    <title>TodoApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column min-vh-100 bg-light">
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark shadow-sm" style="background-color: #ff7f50;">
        <div class="container d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center">
            <div class="collapse navbar-collapse pe-4" id="navbarNav">
              <ul class="navbar-nav ms-auto">
                <% if user_signed_in? %>
                  <li class="nav-item">
                    <%= link_to 'アバウト', about_path, class: "nav-link text-white" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to 'マイページ', user_path(current_user.id), class: "nav-link text-white" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to 'タスク作成', new_task_path, class: "nav-link text-white" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to 'タスク一覧', tasks_path, class: "nav-link text-white" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "nav-link text-white" %>
                  </li>
                <% else %>
                  <li class="nav-item">
                    <%= link_to '新規登録', new_user_registration_path, class: "nav-link text-white" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to 'ログイン', new_user_session_path, class: "nav-link text-white" %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main class="flex-grow-1">
      <div class="container py-4">
        <% flash.each do |key, message| %>
          <div class="alert alert-<%= key == "notice" ? "success" : "danger" %>">
            <%= message %>
          </div>
        <% end %>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
